/*home icon found on every page except homepage*/
.home {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
}


/*homepage*/
body {
  margin:0;
}

#title {
  font-family: 'Lily Script One', cursive;
  font-size: 50px;
  color: #ee6e73;
  margin-left: 200px;
  margin-bottom: 0;
}

h3, h5, footer, #quote {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 300;
}

h5 {
  z-index: 1;
}


header {
  height: 20vh;
  }



main {
  height: 75vh;
  text-align: center;
  z-index: 1;
  }

footer {
  height: 5vh;
  margin: 0;
}

#quote-icon {
  height: 200px;
  weight: 200px;
  margin-top: 100px;
}

#quote {
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  color: #41E2FF;
  font-size: 30px;

}

#next-btn {
  margin-top: 60px;
  font-size: 20px;
  background: lightgrey;
  border-radius: 5px;
}

/*To Do Page*/
#currentDate {
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
  margin-top: 30px;
  height: 50px;
  width: 100px;
}


#question, #questionTwo {
  color: #53BBB4;
  font-family: 'Lily Script One', cursive;
  font-size: 30px;
  margin-bottom: 30px;
  }

#weather, #news, #notes{
  width: 100px;
  height: 100px;
  margin: 20px;
}

/*Notes Page*/
/* styling the modal box background */
  .modalBox {
  background-color: rgba(0, 0, 0, 0.4);;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

/*Styling the welcome box*/
.welcome {
  background-color: white;
  height: 30vh;
  width: 40vw;
  border-radius: 30px;
  border: solid rgba(18, 191, 255, 0.4) 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 20px;
}

#ok-btn {
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}


/*Weather Page */

#currentForecast {
  color: #53BBB4;
  font-family: 'Lily Script One', cursive;
  font-size: 30px;
  margin-bottom: 30px;
}

.left , .right, .bottom {
  margin: 50px;
}

.icon {
  width: 500px;
  height: 500px;
}

/*News Page*/
#news-heading{
  font-size: 30px;
  color: #53BBB4;
  font-family: 'Lily Script One', cursive;
}
